@charset "utf-8";


main h2{
    margin-left: 0.5rem;
}
main article p{
    margin-left: 1.5rem;
}
main img{
    width: calc(100% - 24px);
    border-radius: 5px;
}
main table, main table td{
    border-style: solid;
    border-color: rgb(73, 73, 73);
}
main td{
    padding: 0.25rem;
}
main table img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: unset;
    vertical-align: middle;
    image-rendering: pixelated;
}
main a{
    color: rgb(115, 115, 255);
    box-sizing: border-box;
}
main a:hover{
    color: rgb(83, 83, 185);
}
main a:active, main a:focus{
    border-radius: 5px;
    animation: a-active 500ms linear forwards;
}

@keyframes a-active {
    0%{
        box-shadow: 0px 0px 0px black inset;
    }
    100%{
        box-shadow: 0px 0px 0.5em rgb(93, 93, 93) inset;
    }
}
