@font-face {
    font-family: minecraftfont;
    src: url(./minecraftfont.ttf);
}



#execute_table td{
    padding: 15px;

}

.commandBox{
    border: thick solid gray;
    border-width: 1px;
    width: 700px;
    word-break: break-all;
    border-radius: 3px;
    background-color: rgb(233, 233, 233);
    font-family: minecraftfont;
}
.smallCommandBox{
    font-family: minecraftfont;
    border: thick solid gray;
    border-width: 1px;
    width: 500px;
    word-break: break-all;
    border-radius: 3px;
    background-color: rgb(233, 233, 233);
}
.run{
    color: blue;
}
.or{
    color: rgb(0, 42, 255);
}
.bold{
    font-weight: bold;
}
