@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');



:root{
    --shadow: 1px 1px rgba(0, 0, 0, 0.5);
}


html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Teko', sans-serif;
}

body{
    background-color: rgb(182, 255, 182);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

a{
    color: rgb(23, 151, 0);
    text-shadow: 2px 2px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

a:hover{
    color: rgb(86, 150, 75);
}

a:active{
    color: rgb(14, 93, 0);
}

header{
    margin-top: 0px;
    margin-left: 0px;
    background-color: white;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px ridge gray;
    color: black;
}

#logo{
    margin-left: 24px;
    margin-top: 12px;
    height: 64px;
}

#nav{
    margin-left: 20px;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    transition: 100ms;
    font-size: 1.2em;
}

#nav:hover{
    color: rgb(82, 82, 82);
}

#nav nav{
    cursor: default;
    position: absolute;
    padding: 5px;
    padding-right: 10px;
    padding-left: 0px;
    z-index: 100;
    left: 147px;
    background-color: white;
    border: 2px solid black;
    border-top: 1px solid rgb(62, 62, 62);
}

#rightArea{
    float: right;
    height: 80px;
    margin-top: 20px;
    margin-right: 20px;
}

#searchBox, #searchButton{
    height: 40%;
    padding: 5px;
}

#searchButton{
    background-color: rgb(0, 0, 172);
    color: white;
    font-weight: bold;
}

#searchBox{
    background-color: rgb(206, 206, 255);
    outline: none;
    border: 2px outset gray;
}



main{
    background-color: rgb(182, 255, 182);
    /* border: 1px solid black;
    padding-top: 0px; */
}

h1{
    width: fit-content;
    height: fit-content;
    margin-left: 20px;
    padding: 10px;

    background-color: rgba(255, 255, 255, 0.676);
    
    border-left: 10px solid rgb(0, 157, 0);
    outline: 1px solid black;

    transition: 500ms;
}

main article{
    font-size: 1.8em;
    margin-left: 50px;
    padding-bottom: 100px;
}

h1:hover{
    padding-right: 15px;
    border-left-width: 5px;
}

.icon{
    text-decoration: none;
    font-size: 1.2rem;
}

main nav{
    margin: 0px;
    padding: 10px;
    padding-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.485);
}

.coron{
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-family: 'Courier New', Courier, monospace;
}






#rightNav{
    text-align: left;
}