code:not(.colorModel){
  background-color: #e3e3e3;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;padding-bottom: 2px;border-radius: 7px;
}
.colorModel{
  position: relative;
}
.colorBox{
  cursor: default;
  position: absolute;
  height: 0.8em;
  width: 0.8em;
  box-sizing: border-box;
  border: 2px solid #ededed;
  top: 0.1em;
  left: 2px;
}
